  /* CSS declarations go here */


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0 ; }
}

moon {
    background-image: url("/border.png");
  }


 a {
    color: purple;
  }


body {
    background-image: url("/background.jpg");
 background-position: 0px 0px;


	animation: animatedBackground 40s linear infinite;
    padding-top: 40px;
  

  }
  body {
    color: red;
  }
H1{
  font-size: 100%;
}

iframe{
    overflow:hidden;

}

.hide2{

  margin-left: 500;
  background-color: white;
  float: right;
}


  P {
    color: blue;
    font-size: 75%;
  }
  H2 {
    color: blue;
  }
  P3 {
    color: red;
  }
  P4 {
    color: black;
  }
  html {
    overflow: scroll;
  }
  P5 {
    color: black;
    font-size: 200%;
  }
  H3 {
    width: 400  px;
    border: 6px solid #000000;



    background-color: grey;

    font-size: 100%;
  }

  H4 {
    width: 400px;
    border: 6px solid #000000;

   margin-left: 230px;

    background-color: grey;

    font-size: 55%;
  }

  btn-group {
    font-size: 100%;
    color: black;
    background-color: white;
  }
  H5 {
    font-size: 100%;
    color: black;
  }
  P {
    color: blue;
    font-size: 50%;
  }
  P6 {
    color: white;
    background-color: black;
  }
  p {
    font-size: 200%;
  }
  p3 {
    font-size: 300%;
  }
  P2 {
    font-size: 300%;
  }
  p {
    font-family: "Times New Roman", Times, serif;
  }
  p2 {
    font-family: "Times New Roman", Times, serif;
  }
  p2 {
    colour: black;
  }
  H2 {
    font-size: 100%;
  }


  .right {
    width: 150px;
    height: 100px;
    float: right;
    margin-right: 260px;
  }
  .left-panel {
    width: 150px;
    height: 100px;
    float: left;
      font-size: 95%;
        line-height: 30%;
  }
  .right-panel {
    float: right;
  }

  .leader {
  border: 6px solid #000000;
  margin-left: 260px;
  background-color: white;
  }

  .base {
  border: 6px solid #000000;
  margin-left: 100px;
  background-color: white;
  }
  .map2 {
  border: 6px solid #000000;


  background-color: white;
  }

  .contact {
  border: 6px solid #000000;
  margin-left: 260px;


  background-color: white;
  }



  .low {

    border: 1px solid #000000;

    background-color: white;
    float: top;


    margin-left: 300px;
      width: 600px;
      height: : 1050px;
  }
  .login {
    width: 250px;
  }
  .moon {
    background-color: black;
    float: center;
    margin-left: 260px;
  }

  .search {
    margin-left: 360px;
  }

  .dataNotFound {

    float: center;
    margin-left: 360px;
  }



  .white {
    background-color: white;
    padding: 70;

  }

  .text {
      font-size: 70%;
  }

  .donate {
    background-color: white;
    width: 150px;
    padding: 700;
    margin-left: 42px;
    border: 3px solid #000000;
  }

  .info {
    background-color: white;
      border: 5px solid #000000;
    float: center;
    margin-left: 260px;
  }





  .derp{

      border: 5px solid #000000;
    float: center;
    margin-left: 260px;
  }

  .push {
    background-color: white;
      border: 5px solid #000000;
    float: center;
    margin-left: 350px;
  }

  .prof{
    margin-left: 200px;
  }

  .helpbutton {


    margin-left: 720px;
  }

















.time{
  font-size: 75%;
}


  .dash {
    position:fixed;



  }

  .dash2 {
    position:fixed;
    margin-left: 360px;
  }

  .needlogin {
    background-color: black;

  }
  .stats {
    background-image: url("/background.png")
  }

  .status2 {
    background-color: white;

    white-space: normal;
    border: 3px solid #000000;
    word-wrap: break-word;

  }

  .status4 {
    background-color: white;
      margin-left:  360px;
  width: auto;
    white-space: normal;
    border: 3px solid #000000;
    word-wrap: break-word;
  }

  .dropdown-menu{
    white-space: normal;
  }
  .status {
      white-space: normal;
    background-color: white;
    width: 500px;
    border: 3px solid #000000;
    word-wrap: break-word;
  }

  .status10 {
      white-space: normal;
    background-color: white;
    width: 500px;
    border: 3px solid #000000;
    word-wrap: break-word;
      font-size: 100%;
      margin-left: 360px;
  }

  .smalldash {
    margin-left:  1px;
        float: left;
    width: 40px;

    background-color: white;



    }
  @media (max-width:991px) {
    H4 {
      width: 400px;
      border: 6px solid #000000;

     margin-left: 280px;

      background-color: grey;

      font-size: 55%;
    }

    }

  @media (max-width:991px) {
    H3 {
      width: 150px;
      border: 6px solid #000000;



      background-color: grey;

      font-size: 100%;
    }
  }



  @media (min-width:992px) {
    .smalldash {

        display: none;
    }
}


  @media (max-width: 991px) {
    .logo {

      display: none;

    }




  }

  @media (max-width: 991px) {
    .dash {

      display: none;

    }



  }


    @media (max-width: 991px) {
      .basetext {

  font-size: 60%;
  margin-left:  260px;
      }




    }


  @media (max-width: 991px) {
    H3 {

font-size: 40%;
width: 400;
    }




  }

  @media (max-width: 991px) {
    .details2 {

margin-left:  300px;
font-size: 5px;

    }




  }
    @media (max-width: 991px) {
 img {
    max-width: 100%;
   height: auto;
 }
 }
  @media (max-width: 991px) {
    .white {
font-size: 80%;
  margin-left:  180px;

    }




  }
  @media (max-width: 991px) {
  .details
  {
    font-size: 20px;
  }

      }

  @media (max-width: 991px) {
    .no {
      white-space: normal;
    background-color: white;
    width: 200px;
    height: 600px;
    border: 3px solid #000000;
    word-wrap: break-word;
font-size: 150%;
  margin-left:  480px;

    }




  }


  @media (max-width: 991px) {
    .status {
      white-space: normal;
    background-color: white;
    width: 300px;

    border: 3px solid #000000;
    word-wrap: break-word;
font-size: 50%;
  margin-left:  280px;

    }




  }

  @media (max-width: 991px) {
    .hide {
      display: none;

    }




  }


    @media (max-width: 991px) {
      .hide2 {
        display: none;

      }




    }


    @media (max-width: 991px) {
      .jack{
        display: none;
      }




    }
